// Place all the styles related to the Quiz controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0;
  padding: 0;
}

h1 {
  padding-top: 20px;
  margin-bottom: 50px;
}

.wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  justify-content: center;
  align-items: center;

  font-family: Arial, sans-serif;;
}

.quiz {
  width: 600px;
  margin: 0 auto;
}

.title {
  text-align: center;
}

.sub__quiz {
  margin-left: 60px;
}

input {
  width: 15px;
  height: 15px;
  margin-right: 30px;
}

input:hover {
  cursor: pointer;
}

.answer {
  height: 25px;
}

.sub__quiz > .answer:first-child {
  margin-top: 10px;
}

.sub__quiz > .answer:last-child {
  margin-bottom: 10px;
}

pre {
  display: inline-flex;;
}

code {
  width: 400px;
}

.sub__text,
.sub__text__with__code {
  margin: 20px 0;

  border-bottom: 2px solid rgba(204, 206, 209, 0.5);
}

.sub__text__with__code {

}

.code__sub__text {
  margin-left: 50px;
}

.not__word {
  text-decoration: underline;
}

.btn__pass {
  width: 100px;
  height: 40px;

  margin-bottom: 40px;
  margin-left: 50%;
  text-align: center;


  border-radius: 15px;
  background: rgba(9, 117, 0, .9);
}

.btn__pass:hover {
  transition: 1s;
  background: rgba(13, 163, 0, .8);
  cursor: pointer;

  color: white;
}

.btn__pass:hover,
.btn__pass:active {
  outline: none;
}

#modal_form {
	width: 300px;
	height: 300px; /* Рaзмеры дoлжны быть фиксирoвaны */
	border-radius: 5px;
	border: 3px #000 solid;
	background: #fff;
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	left: 50%; /* пoлoвинa экрaнa слевa */
	margin-top: -150px;
	margin-left: -150px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
	padding: 20px 10px;
}
/* Кнoпкa зaкрыть для тех ктo в тaнке) */
#modal_form #modal_close {
	width: 21px;
	height: 21px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
}
/* Пoдлoжкa */
#overlay {
	z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color:#000; /* чернaя */
	opacity:0.8; /* нo немнoгo прoзрaчнa */
	-moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=80);
	width:100%;
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	cursor:pointer;
	display:none; /* в oбычнoм сoстoянии её нет) */
}
