<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Homework 13-14</title>

  <!-- Code highlight library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css">
  <!-- own css file -->
  <link rel="stylesheet" href="css/stylesheet.css">

  <!-- Include jquery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
  <!-- Include highlight.js and use his-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <!-- Include lodash -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js" charset="utf-8"></script>
  <script src="js/script.js" charset="utf-8"></script>
</head>
<body>
    <script type="text/template" id="quiz-game">

      <h1 class="title"><%-title%></h1>

      <div class="wrapper">
        <form method="POST" action="#" name="pass-test-form">
          <ol class="quiz">
            <% let i = 0;%>
            <% question.forEach(function(item) { %>
              <li class="sub__text">
                <%- item.article %>
                <ol class="sub__quiz" type="a">
                  <pre>
                    <code class="code__sub__text">
                      <%- item.code %>
                    </code>
                  </pre>
                  <% for (var iter = 0; iter < item.variant.length; iter+=1) { %>
                    <li>
                      <input class="answersItem" type="radio" name="group[<%- i %>]" required="" value="" id="<%- item.variant[iter] %>"><%- item.answer[iter] %>
                    </li>
                  <% }; %>
                </ol>
              </li>
            <% i+= 1 %>
            <% }); %>
          </ol>
          <input type="submit" class="btn__pass" id="pass-test" value="Pass"></input>
          <!-- <input type="submit" value=""> -->
        </form>
      </div>

      <div id="modal_form"><!-- Сaмo oкнo -->
        <span id="modal_close">X</span> <!-- Кнoпкa зaкрыть -->
        <p class="send_to_user">Hi!</p>
        <!-- <h1>content</h1> -->
      </div>
      <div id="overlay"></div><!-- Пoдлoжкa -->

    </script>
</body>
</html>
